.page-change {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.page-size {
  margin: 0 10px;
}

.page-change__number {
  margin: 0 10px;
  font-size: 1em;
  color: #707780;
}

.page-change__input {
  border: none;
  outline: none;
  border-bottom: 1px solid #ed3947;
  text-align: center;
  padding: 3px 8px;
  font-size: 1em;
  color: #707780;
}
